<table style="border:0; margin:2ex 0 2ex 0; padding:0;"><tbody><tr><td style="margin-right:2ex;">
	<img src="https://svgsilh.com/png-512/150271-3f51b5.png" width="256" height="238" style="width:256px; height:238px;">
	<!-- image source: https://wordpress.org/openverse/image/b18cfb7f-58ee-4108-b935-7c3fb9d79ce5/ -->
</td><td>&nbsp;</td><td style="vertical-align:top;">
	<br>With the relaunch of our website, you will see a a results list here. <br>Until then, please use this customized 
	<a href="https://www.google.com/search?hl=en&num=30&q=site%3Awww.lib4ri.ch%20{{ find }}" target="_blank">Google link to search lib4ri.ch</a>.
</td></tr></tbody></table>
